<%= form_with(model: mychat, local: true) do |form| %>
  <% if mychat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mychat.errors.count, "error") %> prohibited this mychat from being saved:</h2>

      <ul>
      <% mychat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message,class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
